<%= render 'layouts/driver_nav'%>
<%=provide(:name,'修改信息')%>
<div class='row'>
  <div class='col-lg-4'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        头像
      </div>
      <div class='panel-body'  align="center">
        <%= image_tag(@head,alt:'head',class:'thumbnail') %>
        
      </div>
      <div class='panel-foot'>
        <%= form_tag({:method =>"post",:controller =>"drivers",action: "update_head"},:multipart =>true)do %>
          
          <div class='a-upload  btn btn-primary'><%= file_field 'file','head'%>上传</div>
          <input type='submit' class='btn btn-primary'>
        <%end%>
      </div>
    </div>
  
          

    <div class='panel panel-primary'>
      <div class='panel-heading'>
        身份证
      </div>
       <div class='panel-body' align="center">
        <%= image_tag(@id_card,alt:'id_card',class:'thumbnail') %>
        
      </div>
      <div class='panel-foot'>
        <%= form_tag({:method =>"post",:controller =>"drivers",action:"update_idcard"},:multipart =>true)do %>
          
          <div class='a-upload btn btn-primary'><%= file_field "file","id_card"%>上传</div>
          <input type='submit' class='btn btn-primary'>
        <%end%>
        </div>
    </div>
    
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        驾照
      </div>
       <div class='panel-body' align="center">
        <%= image_tag(@license,alt:'license',class:'thumbnail') %>
        
      </div>
      <div class='panel-foot'>
        <%= form_tag({:method =>"post",:controller =>"drivers",action:"update_carlicense"},:multipart =>true)do %>
          
          <div class='a-upload btn btn-primary'><%= file_field "file","license"%>上传</div>
          <input type='submit' class='btn btn-primary'>
        <%end%>
        </div>
    </div>
    
  </div>
  <div class='col-lg-8'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
       基本信息
      </div>
     
      <div class='panel-body'>
         <%= form_for(@user, url: {controller: 'drivers', action:'update'},html: {class: "form-horizontal"}) do |f|%>
          <div class='form-group'>
              <%= f.label :name, "姓名", class: 'control-label col-lg-4' %>
              <div class='col-lg-6'>
                <%= f.text_field :name, class:"form-control"%>
              </div>
  
          </div>
          <div class='form-group'>
              <%= f.label :sex, "性别", class: 'control-label col-lg-4' %>
              <div class='col-lg-6'>
                <label class='radio-inline'><%= f.radio_button :sex , 0%>男</label>
      
      <label class='radio-inline'><%= f.radio_button :sex ,1 %>女</label>
              </div>
  
          </div>
          <div class='form-group'>
              <%= f.label :phone, "手机号", class: 'control-label col-lg-4' %>
              <div class='col-lg-6'>
                <%= f.text_field :phone, class:"form-control"%>
              </div>
  
          </div>
          
          <div class='col-lg-4 col-lg-offset-5'>
  <%= f.submit "提交", class: "btn btn-primary" %>
</div>
          <%end%>
        
        
        
        
        
      </div>
    </div>
        <div class='panel panel-primary'>
      <div class='panel-heading'>
        车辆
      </div>
      <div class='panel-body'>
        <div class='row>'>
          <div class='col-lg-4'>
            <%= image_tag(@car.picture,alt:'car_picture',class:'thumbnail') %>
                  
        <%= form_tag({:method =>"post",:controller =>"drivers",action:"update_carpicture"},:multipart =>true)do %>
          
          <div class='a-upload btn btn-primary'><%= file_field "file","carpicture"%>上传</div>
          <input type='submit' class='btn btn-primary'>
        <%end%>
      
          </div>
          <div class='col-lg-8'>
            <%= form_for(@car, url: {controller: 'drivers', action:'update_carinfo'},html: {class: "form-horizontal"}) do |f|%>
            <ul class='list-group'>
              <li class='list-group-item'>
            <div class='form-group'>
              <%= f.label :number, "车牌号", class: 'control-label col-lg-4' %>
              <div class='col-lg-6'>
                
                <%= f.text_field :number, class:"form-control"%>
              </div>
              </div>


              </li>
              <li class='list-group-item'>
                
                <div class='form-group'>
              <%= f.label :person_number, "核载人数", class: 'control-label col-lg-4' %>
              <div class='col-lg-6'>
                
                <%= f.text_field :person_number, class:"form-control"%>
              </div>
              </div>

              </li>
              
            </ul>
            <div class='col-lg-4 col-lg-offset-5'>
  <%= f.submit "提交", class: "btn btn-primary" %>
</div>
            <%end%>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>